<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjdreamtech.mapper.custom.HolidaysMapper" >
 	<select id="queryHolidayByPage" resultType="map" parameterType="map">
 		select STR_TO_DATE(holiday_id, '%Y%m%d') AS "holidayId"
 		from holiday
 		where 1=1
 		<if test="holidayMonth != null and holidayMonth != ''">
 			and holiday_id like #{holidayMonth}
 		</if>
 		ORDER BY holiday_id
 	</select>
</mapper>