<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>参数管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<script src="../../res/js/dmt-loader.js"></script>

<script type="text/javascript">

//点击修改按钮事件
function editParam(id){
	$("#edit").dialog("open");
	DMTInitMsg();
	//根据ID查询数据信息
	DMTRequest({
		url:'../../paramAction/getParamInfo.do',
		params:{
			paramid:id,
		},
		validate:true,
		success:function(data){
			var paraminfo = data.result;
			$("input[name=edit_code]").val(decode(paraminfo.paramCode));
			$("input[name=edit_name]").val(decode(paraminfo.paramName));
			$("input[name=edit_key]").val(decode(paraminfo.paramKey));
			$("input[name=edit_value]").val(decode(paraminfo.paramValue));
			$("textarea[name=edit_description]").val(decode(paraminfo.paramDescription));
			$("select[name=edit_status]").val(paraminfo.paramStatus);
			$("input[name=edit_id]").val(paraminfo.paramId);  
		}
	});
}

//点击删除按钮事件
function deleteParam(id){
	$.messager.defaults = { ok: "是", cancel: "否" }; 
	$.messager.confirm('系统提示', '确认删除吗?', function(res) {
		if (res) {
			DMTRequest({
				url:'../../paramAction/paramDelete.do',
				params:{
					id:id,
				},
				validate:true,
				success:function(data){
					$("#datagrid").datagrid("reload");
					$.messager.alert("系统提示","删除成功","info");
				}
			});
		}
	});
}

//点击启用或者禁用事件
function statusParam(id,status){
	DMTRequest({
		url:'../../paramAction/paramStatus.do',
		params:{
			id:id,
			status:status,
		},
		validate:true,
		success:function(data){
			$("#datagrid").datagrid("reload");
			$.messager.alert("系统提示",data.result,"info");
		}
	});
}

//批量删除参数
function deleteParamBatch(){
	var row = $("#datagrid").datagrid("getSelections");
	if(row.length==0){
		$.messager.alert("系统提示","请至少选择一条待删除的参数","warning");
		return;
	}
	var ids = "";
	for(var i=0;i<row.length;i++){
		if(i==row.length-1){
			ids = ids + row[i].id;
		}
		else{
			ids = ids + row[i].id+";";
		}
	}
	DMTRequest({
		url:'../../paramAction/paramDeleteBatch.do',
		params:{
			ids:ids
		},
		validate:true,
		success:function(data){
			$("#datagrid").datagrid("reload");
			$.messager.alert("系统提示","批量删除成功","info");
		}
	});
}

//点击提交新增角色按钮检验方法
function validateAdd(){
	var code = $("input[name=add_code]").val();
	if(code==""){
		$.messager.alert('系统提示', '参数代码不能为空', 'warning');
		return false;
	}
	var name = $("input[name=add_name]").val();
	if(name==""){
		$.messager.alert('系统提示', '参数名称不能为空', 'warning');
		return false;
	}
	var key = $("input[name=add_key]").val();
	if(key==""){
		$.messager.alert('系统提示','参数键不能为空','warning');
		return false;
	}
	var value = $("input[name=add_value]").val();
	if(value==""){
		$.messager.alert('系统提示', '参数值不能为空', 'warning');
		return false;
	}
	var description = $("textarea[name=description]").val();
	
	return true;
}

//点击提交修改角色按钮检验方法
function validateEdit(){
	var name = $("#edit_name").val();
	if(name==""){
		$.messager.alert('系统提示', '角色名称不能为空', 'warning');
		return false;
	}
	var description = $("#edit_description").val();
	if(description==""){
		$.messager.alert('系统提示', '角色描述不能为空', 'warning');
		return false;
	}
	return true;
}

$(function(){
	DMTForm("addForm");
	DMTForm("editForm");
	//定义新增参数弹出框
	$('#add').dialog({
        resizable: true, //定义对话框是否可编辑大小
        width: 600,
        height: 400,
        left: '200px',
        top: '100px',
        modal:true,
        onClose: function () {
        	$("#addForm")[0].reset();
        },
        buttons: [{
            text: '确认',
            iconCls: 'icon-ok',
            handler: function () {
            	if(validateAdd()){
	                DMTRequest({
	                	url:'../../paramAction/paramAdd.do',
	                	params:{
	                		code:$("input[name=add_code]").val(),
	                		name:$("input[name=add_name]").val(),
	                		key:$("input[name=add_key]").val(),
	                		value:$("input[name=add_value]").val(),
	                		description:$("textarea[name=add_description]").val()
	                	},
	                	validate:true,
	                	success:function(data){
	                		$("#add").dialog('close');
	                		$("#addForm")[0].reset();
	                		$("#datagrid").datagrid('reload');
	                		$.messager.alert("系统提示", "新增参数成功", "info");
	                	}
	                });
            	}
            }
        }, {
            text: '取消',
            iconCls: 'icon-cancel',
            handler: function () {
                $('#add').dialog('close');
                $("#addForm")[0].reset();
            }
        }]
    });
	
	
	//定义修改角色弹出框
	$('#edit').dialog({
        resizable: true, //定义对话框是否可编辑大小
        width: 600,
        height: 400,
        left: '200px',
        top: '100px',
        modal:true,
        onClose: function () {
        	$("#editForm")[0].reset();
        },
        buttons: [{
            text: '确认',
            iconCls: 'icon-ok',
            handler: function () {
            	if(validateEdit()){
	                DMTRequest({
	                	url:'../../paramAction/paramEdit.do',
	                	params:{
	                		code:$("input[name=edit_code]").val(),
	                		name:$("input[name=edit_name]").val(),
	                		key:$("input[name=edit_key]").val(),
	                		value:$("input[name=edit_value]").val(),
	                		description:$("textarea[name=edit_description]").val(),
	                		status:$("select[name=edit_status]").val(),
	                		id:$("input[name=edit_id]").val()
	                	},
	                	validate:true,
	                	success:function(data){
	                		$("#edit").dialog('close');
	                		$("#editForm")[0].reset();
	                		$("#datagrid").datagrid('reload');
	                		$.messager.alert("系统提示", "修改参数成功", "info");
	                	}
	                });
            	}
            }
        }, {
            text: '取消',
            iconCls: 'icon-cancel',
            handler: function () {
                $('#edit').dialog('close');
                $("#editForm")[0].reset();
            }
        }]
    });
	
	//绑定查询按钮点击事件
	$("#submit").click(function(){
		//查询参数数据
		DMTDatatable({
			id:"#datagrid", //需要被填充的table
			title:"参数列表",  //数据名称
			url:"../../paramAction/paramList.do",  //数据url
			validate:true,
			params:{
				code:$("input[name=condition_code]").val(),
				key:$("input[name=condition_key]").val(),
				value:$("input[name=condition_value]").val(),
				status:$("select[name=condition_status]").val()
			},
			checkbox:false,  //每条数据前是否带checkbox复选框
			//表头数据，field：字段名称   title:显示名称  width:单元格长度  fixWidth(比例):返回宽度的对应比例长度，0.3代表30%
			columns:[[
			    {field:'code',title:'参数代码',width:fixWidth(0.12),align:'center'},
			    {field:'name',title:'参数名称',width:fixWidth(0.12),align:'center'},
			    {field:'key',title:'参数键',width:fixWidth(0.07),align:'center'},
			    {field:'value',title:'参数值',width:fixWidth(0.15),align:'center'},
			    {field:'description',title:'参数描述',width:fixWidth(0.3)},
			    {field:'createtimecopy',title:'创建时间',width:fixWidth(0.17),align:'center'},
			    {field:'statuscopy',title:'参数状态',width:fixWidth(0.09),align:'center'}
			    /* {field:'_opt',title:'操作',width:fixWidth(0.15),align:'center',
			    	formatter:function(value,rec){
	                var html = '<a href="javascript:editParam(\''+rec.id+'\');">编辑</a> '; 
	                html += '| <a href="javascript:deleteParam(\''+rec.id+'\');">删除</a> ';
	                if(rec.status == '0'){
	                	html += '|<a href="javascript:statusParam(\''+rec.id+'\',\'1\');">禁用</a>';
	                }else{
	                	html += '|<a href="javascript:statusParam(\''+rec.id+'\',\'0\');">启用</a>'
	                }
	                return html; 
	               }
			    } */
			]],
			//操作按钮
			toolbar:[{ 
		        text: '添加', 
		        iconCls: 'icon-add', 
		        handler: function() { 
		        	//打开参数添加框
		        	$("#add").dialog("open");
		        	DMTInitMsg();
		        } 
		    }]
		});
	});
	
	$("#submit").click();
});
	
</script>

</head>
<body style="padding: 0px;margin: 0px;">
	<!-- 查询条件区域开始 -->
	<div class="dmt_condition">
		<form>
		<table class="dmt_condition_table">
			<tr>
				<td class="dmt_td_name">参数代码：</td>
				<td class="dmt_td_value">
					<input type="text" name="condition_code"/>
				</td>
				<td class="dmt_td_name">参数键：</td>
				<td class="dmt_td_value">
					<input name="condition_key" type="text"/>
				</td>
			</tr>
			<tr>
				<td class="dmt_td_name">参数状态：</td>
				<td class="dmt_td_value">
					<select name="condition_status">
						<option value="">全部</option>
						<option value="0">启用</option>
						<option value="1">禁用</option>
					</select>
				</td>
				<td class="dmt_td_name">参数值：</td>
				<td class="dmt_td_value">
					<input name="condition_value" type="text"/>
				</td>
			</tr>
			<tr>
				<td class="dmt_td_button" colspan="4">
					<input type="button" value=" 查询 " id="submit"/>
					<input type="reset" value=" 清空 "/>
				</td>
			</tr>
		</table>
		</form>
		<hr class="dmt_hr"/>
	</div>
	<!-- 查询条件区域结束 -->
	
	<!-- 数据表格区域开始 -->
	<div class="dmt_table">
		<table id="datagrid"></table>
	</div>
	<!-- 数据表格区域结束 -->
	
	<!-- 数据新增弹出框开始 -->
	<div id="add" class="easyui-dialog" title="新增参数" closed="true">
		<form id="addForm">
        <table style="width: 350px;margin-left: auto;margin-right: auto;margin-top: 20px;">
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数代码：</td>
        		<td class="dmt_td_value"><input type="text" name="add_code" maxlength="20" validate="NOTNULL"/></td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数名称：</td>
        		<td class="dmt_td_value"><input type="text" name="add_name" maxlength="20" validate="NOTNULL"/></td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数键：</td>
        		<td class="dmt_td_value"><input type="text" name="add_key" maxlength="10" validate="NOTNULL"/></td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数值：</td>
        		<td class="dmt_td_value"><input type="text" name="add_value" maxlength="100" validate="NOTNULL"/></td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数描述：</td>
        		<td class="dmt_td_value"><textarea name="add_description" maxlength="50" validate="NOTNULL"></textarea></td>
        	</tr>
        </table>
        </form>
    </div>
    <!-- 数据新增弹出框结束 -->
    
    <!-- 数据修改弹出框开始 -->
	<div id="edit" class="easyui-dialog" title="修改角色" closed="true">
		<form id="editForm">
		<input type="hidden" name="edit_id" value=""/>
        <table style="width: 350px;margin-left: auto;margin-right: auto;margin-top: 20px;">
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数代码：</td>
        		<td class="dmt_td_value"><input type="text" name="edit_code" maxlength="20" validate="NOTNULL"/></td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数名称：</td>
        		<td class="dmt_td_value"><input type="text" name="edit_name" maxlength="20" validate="NOTNULL"/></td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数键：</td>
        		<td class="dmt_td_value"><input type="text" name="edit_key" maxlength="10" validate="NOTNULL"/></td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数值：</td>
        		<td class="dmt_td_value"><input type="text" name="edit_value" maxlength="100" validate="NOTNULL"/></td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数状态：</td>
        		<td class="dmt_td_value">
        			<select name="edit_status">
        				<option value="0">启用</option>
        				<option value="1">禁用</option>
        			</select>
        		</td>
        	</tr>
        	<tr>
        		<td class="dmt_td_name"><span class="dmt_star">*</span>参数描述：</td>
        		<td class="dmt_td_value"><textarea name="edit_description" maxlength="50" validate="NOTNULL"></textarea></td>
        	</tr>
        </table>
        </form>
    </div>
    <!-- 数据修改弹出框结束 -->
</body>
</html>